<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <!-- Navigator actions -->

   <!--extension
         point="org.eclipse.ui.navigator.navigatorContent">   
	   <actionProvider
	        class="ac.soton.internal.teamwork.navigator.actionProviders.RootActionProvider"
	        id="fr.systerel.explorer.navigator.actionProviders.file">
	     <enablement>
	        <or>
	           <instanceof
	                 value="org.eventb.core.IMachineRoot">
	           </instanceof>
	           <instanceof
	                 value="org.eventb.core.IContextRoot">
	           </instanceof>
	        </or>
	     </enablement>
	  </actionProvider>
   </extension-->  
   
</plugin>
