<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.soton.eventb.emf.core.extension.navigator.adapterFactories" name="%extension-point.name" schema="schema/ac.soton.eventb.emf.core.extension.navigator.adapterFactories.exsd"/>
   <extension-point id="ac.soton.eventb.emf.core.extension.navigator.elementRefinement" name="elementRefinement" schema="schema/ac.soton.eventb.emf.core.extension.navigator.elementRefinement.exsd"/>
   <extension-point id="ac.soton.eventb.emf.core.extension.navigator.emfFileExtensions" name="emfFileExtensions" schema="schema/ac.soton.eventb.emf.core.extension.navigator.emfFileExtensions.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionContentProvider"
            id="ac.soton.eventb.emf.core.extension.navigator.content.extensionContent"
            labelProvider="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionLabelProvider"
            name="%navigatorContent.name">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
               <instanceof
                     value="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionNavigatorItem">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionNavigatorItem">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="ac.soton.eventb.emf.core.extension.navigatore.sorter.AntiSorter">
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="ac.soton.eventb.emf.core.extension.navigator.filter.AnnotationFilter"
            id="ac.soton.eventb.emf.core.extension.navigator.filter.annotationFilter"
            name="%commonFilter.name"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.eventb.emf.core.extension.navigator.content.extensionContent">
            </contentExtension>
            <contentExtension
                  pattern="ac.soton.eventb.emf.core.extension.navigator.filter.annotationFilter">
            </contentExtension></includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionNavigatorPropertyTester"
            id="ac.soton.eventb.emf.core.extension.navigator.propertyTester"
            namespace="ac.soton.eventb.emf.core.extension.navigator"
            properties="eventBRootChild"
            type="ac.soton.eventb.emf.core.extension.navigator.provider.ExtensionNavigatorItem">
      </propertyTester>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.elementRefinement">
      <refinementDefinition
            ePackage="http://emf.eventb.org/models/core/2014"
            refiner_class="ac.soton.eventb.emf.core.extension.navigator.refiner.CoreElementRefiner">
      </refinementDefinition>
      <refinementDefinition
            ePackage="http://emf.eventb.org/models/core/context/2014"
            refiner_class="ac.soton.eventb.emf.core.extension.navigator.refiner.ContextElementRefiner">
      </refinementDefinition>
      <refinementDefinition
            ePackage="http://emf.eventb.org/models/core/machine/2014"
            refiner_class="ac.soton.eventb.emf.core.extension.navigator.refiner.MachineElementRefiner">
      </refinementDefinition>
      <refinementDefinition
            ePackage="http://soton.ac.uk/models/eventb/coreextension/2014"
            refiner_class="ac.soton.eventb.emf.core.extension.navigator.refiner.CoreextensionElementRefiner">
      </refinementDefinition>
   </extension>
   
</plugin>
